<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/signup/signup.css"/>
</head>
<body>
    <div class="signup_body_area">
        <div class="signup_menu_area">
            <div class="signup_logo_area">
                <img src="../../imgs/login/fingersales_logo.png"/>
            </div>
            <div class="signup_id_input_area">
                <div>
                    <label for="signup_id_input">아이디</label>
                </div>
               <div>
                   <input type="text" id="signup_id_input" placeholder="아이디"/>
               </div>
            </div>
            <div class="signup_name_input_area">
                <div><label for="signup_name_input">이름</label></div>
                <div><input type="text" id="signup_name_input" placeholder="이름"/></div>
            </div>
            <div class="signup_password_input_area">
                <div><label for="signup_password_input">비밀번호</label></div>
                <div><input type="text" id="signup_password_input" /></div>
            </div>
            <div class="signup_password_check_area">
                <div><label for="signup_password_check">비밀번호확인</label></div>
                <div><input type="text" id="signup_password_check" /></div>
            </div>
            <div class="signup_buttons_area">
                <div class="signup_signup_button_tag">
                    <button>가입</button>
                </div>
                <div class="signup_signup_cancel_button_tag">
                    <button>취소</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>