<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../css/login/login.css" rel="stylesheet">
    <link href="../../css/login/popup.css" rel="stylesheet">
</head>
<body>
    <div class="login_body_area">
        <div class="login_menu_area">
            <div class="login_logo_area">
                <div class="login_logo_tag">
                    <img src="../../imgs/login/fingersales_logo.png"/>
                </div>
            </div>
            <div class="login_id_input_area">
                <div class="login_id_input_label">
                    <label for="login_id_input_tag">아이디</label>
                </div>
                <div class="login_id_input_tag">
                    <input id="login_id_input_tag" type="text" name="employee_id"
                           placeholder="input your id"/>
                </div>
            </div>
            <div class="login_password_input_area">
                <div class="login_password_input_label">
                    <label for="login_password_input_tag">password</label>
                </div>
                <div class="login_password_input_tag">
                    <input id="login_password_input_tag" type="password" name="password"
                           placeholder="input your password"/>
                </div>
            </div>
            <div class="login_buttons_area">
                <div class="login_button_area">
                    <button>로그인</button>
                </div>
                <div class="login_signup_button_area">
                    <button>회원가입</button>
                </div>
            </div>
        </div>
    </div>
    <div class="popup_body" style="z-index: -2">
        <div class="popup_message_area">
            <p>아이디 또는 비밀번호가</p>
            <p>잘못되었습니다.</p>
        </div>
        <div class="popup_accept_button_area">
            <button>확인</button>
        </div>
    </div>
<script type="text/javascript">
    // window.onload = function(){
    //     window.open("popup.html","error","width=200, height=150")
    // }
</script>
</body>
</html>